<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PoliceActivityApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body>
    <div class="container-fluid">
        <header class="d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
            <div class="d-flex align-items-center mx-auto">
                <img src="~/Pictures/Bild.png" alt="Bild" style="height: 75px;" />
            </div>
        </header>

        <main role="main" class="row flex-grow-1">
            <div class="col-md-3 left-sidebar">
                @RenderSection("LeftSidebar", required: false)
            </div>
            <div class="col-md-6 main-content">
                @RenderBody()
            </div>
            <div class="col-md-3 right-sidebar">
                @RenderSection("RightSidebar", required: false)
                </div>
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
